/* general settings */
body {
    margin: 0;
}

/* header */
header {
    background-color: rgb(0, 166, 255);
    background-image: url(../img/pattern.png);
    background-size: 350px;
}

#logo {
    width: 200px;
    margin-top: 40px;
}



/* main */
main {
    margin-left: 10px;
}

h1 {
    margin-top: 20px;
    font-size: 50px;
}

.title-credits {
    color: lightslategray;
    margin-bottom: 20px;
}

#blu {
    color: rgb(0, 140, 255);
    
}

/* main section */

.important {
    background-color: yellow;
}

/* table settings  */
table {
    text-align: left;
    border-collapse: collapse;
}

thead {
    background-color: rgb(0, 174, 255);
}

.sigle {
    width: 100px;
}

.odd { 
    background-color: rgb(160, 239, 255);
}

.even { 
    background-color: rgb(255, 255, 255);
}





/* footer */
footer {
    color: lightslategray;
    font-size: larger;
}

.footer_img_one {
    color: aliceblue;
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
    margin-top: 10px;
}

.footer_img_two {
    color: aliceblue;
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
    margin-top: 10px;
}