/* general settings */
*{
    margin: 0;
    padding: 0;
}

/* header */
header {
    background-color: rgb(0, 166, 255);
    background-image: url(../img/pattern.png);
    background-size: 350px;
    
}

#logo {
    width: 200px;
    margin-top: 40px;
}

/* footer */
footer {
    color: lightslategray;
    font-size: larger;
}

.footer_img_one {
    color: aliceblue;
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
    margin-top: 10px;
}

.footer_img_two {
    color: aliceblue;
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
    margin-top: 10px;
}