body {
    margin: 0;
}

/* header */
header {
    background-color: rgb(0, 166, 255);
    background-image: url(../img/pattern.png);
    background-size: 350px;
}

.pattern-logo {
    width: 70%;
    margin: 0 auto;
}

#logo {
    width: 200px;
    margin-top: 40px;
}

/* footer */
.interest {
    color: lightslategray;
    font-size: large;
}

.footer-img {
    width: ;

}

.footer-img.one {
    background-image: url(../img/monitor.jpg);
}

