body {
    margin: 0;
}

/* header */
header {
    background-color: rgb(0, 166, 255);
    background-image: url(../img/pattern.png);
    background-size: 350px;
}

.pattern-logo {
    border: 1px solid black;
    width: 70%;
    margin: auto 0;
}

#logo {
    width: 200px;
    margin-top: 40px;
}


